body {
	margin: 0;
}
.container {
	width: 720px;
	margin: auto;
}
h1 {
	margin-top: 50px;
	color: #fff;
}

p {
	display: block;
	margin: 0;
}
.title {
	display: inline-block;
	margin: 15px 0 0 0;
}
.resume {
	background-color: #4af;
	float: left; 
	height:750px;
	width: 180px;
	text-align: center;
}
.rows {
	float: right;
	height:750px;
}